html, body, #root {
  height: 100%;
  margin: 0; 
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  min-height: 100vh; 
  grid-template-rows: auto 1fr auto;
}

header {
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.horizontal-nav > a {
  padding-right: 10px;
}

.vertical-spacing {
  padding-bottom: 10px;
}

.indent {
  padding-left: 15px;
}

.text-area {
  min-width: 300px;
  min-height: 200px;
}

.error {
  color: red;
}