html, body, #root {
  height: 100%;
  margin: 0; 
}

.container {
  display: grid;
  min-height: 100vh; 
  grid-template-rows: auto 1fr auto;
}

header {
  padding-bottom: 20px;
}

.horizontal-nav > a {
  padding-right: 10px;
}

.vertical-spacing {
  padding-bottom: 10px;
}

.indent {
  padding-left: 10px;
}

.text-area {
    min-width: 300px;
    min-height: 200px;
}